body {
    background-color: #071E2E;
   
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Poppins;
    padding: 32px 142px;
    gap: 64px;
    padding-bottom: 1px;
}
.header-title {
    color: #fff; 
    font-size: 30px; 
}
.nav-link {
    list-style: none;
    display: flex;
    gap: 10px;
}
.active {
    color: #03ADEA;
}
